
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Satisfy&display=swap');


nav{background: linear-gradient(to right, #434343 0%, black 100%);
 
}



h2{
    padding-left: 20px;
font-family: serif;
 color: wheat; 

}
to{
text-decoration: none;
justify-content: center;
}